.album-show {
  width: 70%;
  display: flex;
  align-items: center;
  flex-flow: column;

  h2 {
    margin-bottom: 30px;
  }

  .album-info {
    height: 240px;
    width: 100%;
    color: white;
    background-size: cover;
    background-position: center;
    position: relative;

    .album-info-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }

    .album-edit-bar {
      width: 100%;
      float: right;

      a {
        float: right;
      }
    }

    .album-text {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      .album-title-desc {
        text-align: center;

        h1 {
          font-size: 40px;
          margin-top: 30px;
        }

        p {
          font-style: italic;
        }
      }

      h3 {
        font-size: 16px;
      }
    }
  }
}
