.photo-gallery-container {
  width: 100%;
  margin-bottom: 20px;
}

.album-info-container {
  width: 100%;
}

.album-info {
  height: 200px;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 10px;
}

.album-title-desc {
  text-align: center;

  h1 {
    font-size: 36px;
    margin-top: 30px;
  }

  p {
    font-style: italic;
  }
}

.tagged-photos-container {
  h2 {
    margin: 30px 0px;
  }
}

.album-info-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.album-edit-bar {
  width: 100%;
  float: right;

  a {
    float: right;
  }
}

.album-text {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .album-title-desc {
    text-align: center;

    h1 {
      font-size: 40px;
      margin-top: 30px;
    }

    p {
      font-style: italic;
    }
  }

  h3 {
    font-size: 14px;
  }

  a {
    position: relative;

    &:hover {
      color: white;
    }

    &:before {
      content: '';
      position: absolute;
      transition: transform .5s ease;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: darken(white, 10%);
      transform: scaleX(0);
    }

    &:hover:before {
      transform: scaleX(1);
    }
  }
}

@media only screen and (min-width : 768px) {
  .album-info-container {
    width: 605px;
  }

  .photo-gallery-container {
    width: 100%;
    margin: 10px 0 30px 0;
  }

  .album-info {
    height: 240px;
    margin-bottom: 0px;
  }

  .album-title-desc {
    h1 {
      font-size: 40px;
    }
  }

  .album-text {
    h3 {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width : 1024px) {
  .album-info-container {
    width: 910px;
  }
}

@media only screen and (min-width : 1360px) {
  .album-info-container {
    width: 1215px;
  }
}
