.user-albums-container {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-index-bar {
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
}

.album-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;

  h2 {
    font-size: 22px;
    color: gray;
  }
}

.left-box {
  width: 33.33%;
}

.right-box {
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 14px;
}

.albums-index {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  a {
    margin-left: 20px;
  }
}

.album-index-item {
  background-size: cover;
  width: 245px;
  height: 245px;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  margin-bottom: 15px;
}

.album-title {
  font-size: 28px;
  letter-spacing: 1px;
  color: white;
}

.album-photo-count {
  font-size: 14px;
  margin: 5px 0.2em;
}

.album-index-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,rgba(0,0,0,.4) 0,transparent 30%,transparent);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.album-photos {
  width: 100%;
  margin-top: 5px;
  position: relative;
  column-count: 1;
  column-gap: 5px;
}

.image-container {
  max-width: 100%;
  height: 100px;
  display: inline-block;

  a {
    display: inline-block;
    width: 100%;
  }

  img {
    max-width:100%;
    max-height:100%;
  }
}

.album-index-item-desc {
  padding: 12px 25px;
}

@media only screen and (max-width : 450px) {
  .albums-index {
    justify-content: center;

    a {
      margin: 0px;
    }
  }
}

@media only screen and (min-width: 800px) {
  .album-photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 1250px) {
  .album-photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1700px) {
  .album-photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
