.photo-form-container.album {
  width: 60%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;

  h2 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .photo-form-container.album {
    width: 30%;
  }
}
