html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#root {
  min-height: 100%;
}

.single4 {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 6px solid #EEEEEE;
   border-top-color: #BFBFBF;
   border-bottom-color: #BFBFBF;
   -webkit-animation: single4 2.5s infinite ease-in-out;
   animation: single4 2.5s infinite ease-in-out;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
}

@-webkit-keyframes single4 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
   }
}

@keyframes single4 {
   0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
   }
   100% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
   }
}

.body {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 60px);
}

.avatar {
  border-radius: 100%;
}

.logo {
  float: left;
  width: 160px;
}

a:hover, button:hover {
  color: #a3a4a3;
}

@media only screen and (max-width : 450px) {
  * {
    -webkit-overflow-scrolling: touch;
  }
}
