.loading-spinner {
  font-size: 120px;
  color: #424242;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.body {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 100%;
}
