.comment-index-container {
  margin-top: 40px;
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 30px;

  img {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-right: 12px;
  }
}

.comment-item {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
}

.comment-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-header {
  a {
    margin-right: 20px;
    color: #424242;
    font-weight: bold;
  }
}

.comment-form-container {
  display: flex;
  flex-flow: column;
  font-size: 14px;

  textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
  }

  textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  button {
    margin-top: 15px;
    background-color: gray;
    color: white;
    border-radius: 3px;
    width: fit-content;
    padding: 6px 10px;
  }

  button:hover {
    background-color: #5f6060;
  }
}

.comment-button {
  display: flex;
  justify-content: flex-end;

  &.hidden {
    display: none;
  }
}

@media only screen and (max-width : 450px) {
  .comment-index-container {
    width: 100%;
  }
}
