.dashboard-nav {
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 20px;
}

.dashboard-nav h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: white;
  float: left;
}

.user-buttons {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.user-buttons button {
  text-transform: uppercase;
  font-size: 12px;
  color: #bababa;
  height: 30px;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  background-color: white;
}

.user-buttons > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 100%;
}
