.signup-login {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.user-buttons {
  display: flex;
  justify-content: flex-end;
}

.user-buttons > img {
  width: 60px;
  height: 60px;
}
