.photo-form-container {
  width: 65%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

.dropzone-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dropzone {
  width: 60%;
  border: 1px dashed #a7a7a7;
  color: #a7a7a7;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.uploaded-image {
  width: 50%;
  max-height: 400px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
  }
}

.photo-info-form-container {
  display: flex;
  justify-content: center;
  float: right;
  width: 50%;
  align-items: center;
}

.photo-form {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  font-size: 12px;

  .form-buttons {
    display: flex;
  }

  input[type="text"], textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #a7a7a7;
    width: 100%;
  }

  input[type="submit"] {
    background-color: gray;
  }

  input[type="submit"]:hover {
    background-color: #a3a4a3;
  }

  input[type="submit"], button {
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 6px 19px 6px 19px;
    width: fit-content;
    margin-right: 10px;
  }

  .delete-button {
    padding: 6px 13px 6px 13px;
  }

  .cancel-button {
    background-color: white;
    color: gray;
    padding: 5px 12px 5px 12px;
    border: 1px solid gray;
  }
}
