.photo-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.photo-show-img {
  width: 100%;
  height: 540px;
  background-color: #4e4f4f;
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    max-height: 500px;
    width: auto;
  }
}

.photo-info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 60%;

  .photo-info-left {
    float: left;
    display: flex;
    width: 70%;
  }

  .photo-info-right {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    font-size: 14px;
  }
}

.photo-info img {
  width: 50px;
  height: 50px;
  margin: 10px 20px 0px 5px;
}

.photo-text {
  width: 500px;
  margin-top: 10px;
}

.photo-text h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

@media only screen and (max-width : 450px) {
  .photo-show {
    width: 100vw;
  }

  .photo-show-img {
    width: 100vw;
    max-height: 80vh;

    img{
      width: 100vw;
    }
  }

  .photo-info {
    width: 100vw;
  }

  .photo-text {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  .photo-info-right {
    font-size: 12px;
  }
}
