.photo-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.photo-show > img {
  max-height: 500px;
  width: auto;
}

.photo-info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.photo-info img {
  width: 50px;
  height: 50px;
  margin: 10px 20px 0px 5px;
}

.photo-text {
  width: 500px;
  margin-top: 10px;
}

.photo-text h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

@media only screen and
(min-device-width: 320px) and
(max-device-width: 480px){
  .photo-show {
    width: 100vw;
  }

  .photo-show > img {
    width: 100vw;
  }

  .photo-info {
    width: 100vw;
  }
}
