.homepage {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 20px;
}

.homepage h2 {
  font-size: 24px;
  margin: 15px 0px 25px 0px;
}

.photos-home-index {
  position: relative;
  column-count: 1;
  column-gap: 2em;
  width: 90%;
}

@media only screen and (min-width: 800px) {
  .photos-home-index {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 1400px) {
  .photos-home-index {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1900px) {
  .photos-home-index {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

.photo-index-item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.photo-index-item-desc {
  font-family: 'Open Sans', sans-serif;
  padding: 5px;

    .username {
      font-size: 14px;
    }

    .posted-time-ago {
      font-size: 12px;
      color: grey;
    }
}
