.photo-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.photo-show-img {
  width: 100%;
  max-height: 540px;
  background-color: #4e4f4f;
  align-items: center;
  display: flex;
  flex-direction: column;

  img {
    width: auto;
    max-height: 500px;
    max-width: 600px;
  }

  button {
    color: white;
    font-size: 25px;
    position: relative;
  }
}

.photo-edit-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0px 50px 5px 0px;

    button {
      position: relative;
    }
}

.photo-edit-menu {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 10px;
    color: grey;
    font-size: 16px;
  }
}

.photo-info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 60%;

  .photo-info-left {
    float: left;
    display: flex;
    width: 70%;
  }

  .photo-info-right {
    float: right;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    font-size: 14px;
  }
}

.photo-info img {
  width: 50px;
  height: 50px;
  margin: 10px 20px 0px 5px;
}

.photo-text {
  width: 500px;
  margin-top: 10px;
}

.photo-text h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

@media only screen and (max-width : 450px) {
  .photo-show {
    width: 100vw;
  }

  .photo-show-img {
    width: 100vw;
    max-height: 80vh;

    img{
      width: 100vw;
    }
  }

  .photo-info {
    width: 100vw;
  }

  .photo-text {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  .photo-info-right {
    font-size: 12px;
  }
}

.edit-menu-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.edit-menu-modal {
  position: absolute;
  bottom: 15%;
  right: 1%;
  transform: translate(-0%, -50%);
  background: white;
  padding: 15px;
  width: 140px;
  height: 50px;
  border-radius: 3px;
}

.edit-form-modal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-0%, -50%);
  background: white;
  padding: 15px;
  width: 30%;
}

.edit-form-overlay {
  // position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delete-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

.delete-menu-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 600px;
  height: 180px;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 20px 10px;
  }

  .delete-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      background: gray;
      color: white;
      border-radius: 3px;
      margin-left: 10px;
      padding: 7px 14px;
      font-size: 14px;
    }

    .delete-button {
      background-color: #c0392b;
      color: white;
    }
  }
}
