.photo-form-container {
  width: 65%;
  display: flex;
  margin-top: 30px;
}

.dropzone {
  width: 60%;
  border: 1px dashed #a7a7a7;
  color: #a7a7a7;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.uploaded-image {
  width: 50%;
  max-height: 300px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
}

.photo-info-form-container {
  display: flex;
  justify-content: center;
  float: right;
  width: 50%;
  height: 100%;
  align-items: center;
}

.photo-form {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  font-size: 12px;

  input[type="text"], textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #a7a7a7;
    width: 100%;
  }

  input[type="submit"] {
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 6px 16px 6px 16px;
    width: fit-content;
  }
}
