.hero-img {
  background: url("http://res.cloudinary.com/shuttr/image/upload/v1505958827/skogafoss_z6twbu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width : 450px){
  .hero-text h1 {
    font-size: 25px;
    letter-spacing: 2px;
  }
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hero-text h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

.hero-text > button {
  background-color: white;
  opacity: .7;
  color: gray;
  font-size: 18px;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  margin-top: 20px;
}

.signup-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 5px;
}

.signup-login button {
  background-color: white;
  opacity: .6;
  height: 30px;
  color: #3a3b3a;
  letter-spacing: 1px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 12px 1px 12px;
  font-family: 'Roboto', sans-serif;
}
